---
import ThemeProvider from "@/providers/ThemeProvider"
import "@/styles/tailwind.css"

interface Props {
  title?: string
  desc?: string
}

const { title: titleProp, desc: descProp }: Props = Astro.props

const title = titleProp ? `${titleProp} | Solid + Astro Jereko` : "Solid + Astro Jereko"
const desc =
  descProp ??
  "Solid + Astro Jereko is a simple, fast, and lightweight Solid.js + Astro.js starter template."
---

<html lang="en" data-kb-theme="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={desc} />
  </head>
  <body>
    <ThemeProvider client:idle>
      <slot />
    </ThemeProvider>
  </body>
</html>
